<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <div class="bg-gray-50 p-6 rounded-2xl flex flex-col">
    <h2 class="text-base font-medium text-gray-500">Humedad</h2>
    <p class="text-3xl font-semibold text-blue-600 mt-1">60% <!--<span-- class="text-sm text-gray-500 font-normal">conectados</span--></p>
  </div>

  <div class="bg-gray-50 p-6 rounded-2xl flex flex-col">
    <h2 class="text-base font-medium text-gray-500">Viento</h2>
    <p class="text-3xl font-semibold text-red-500 mt-1">9 km/h</p>
  </div>

  <div class="bg-gray-50 p-6 rounded-2xl flex flex-col">
    <h2 class="text-base font-medium text-gray-500">Presión</h2>
    <p class="text-3xl font-semibold text-yellow-500 mt-1">6 hPa</p>
  </div>
</div>
